body {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	/* text-align: center; */
	margin: 0;
	padding: 0;
}

.TopBlueNavContainer a {
	color: white;
	/* margin: 40px 40px 0px 0px; */
	/* padding: none; */
	cursor: pointer;
	/* background: none; */
	/* border: none; */
	/* align-self: center; */
	font-size: 1em;
	text-decoration: none;
	/* margin-top: 30px; */
	font-weight: bold;
}

.TopBlueNavContainer a:hover {
	background-color: #004a86;
}

.TopBlueNavContainer {
	/* width: 100%; */
	/* height: 50px; */
	background-color: #0076be;
	/* margin: none; */
	/* position: fixed; */
	z-index: 1;
	display: flex;
	padding: 1%;
	justify-content: space-evenly;
}

.dot {
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: 0.6s ease;
}

.active {
	background-color: #717171;
}

.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 3.5s;
	animation-name: fade;
	animation-duration: 3.5s;
}

@-webkit-keyframes fade {
	from {
		opacity: 0.4;
	}
	to {
		opacity: 1;
	}
}

@keyframes fade {
	from {
		opacity: 0.4;
	}
	to {
		opacity: 1;
	}
}
.MainFooterContainer {
	width: 100%;
	/* height: 300px; */
	background-color: #9a9b9c;
	/* margin-top: 50px; */
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	color: white;
	/* padding: 1%; */
	text-decoration: none;
}
.FooterContainer {
	width: 80%;
	display: flex;
	/* flex-direction: row; */
	justify-content: space-between;
	/* margin: 3%; */
	padding: 2%;
	/* text-decoration: none; */
	text-align: left;
	font-size: 1em;
}

.FooterContainer a {
	color: white;
	text-decoration: none;
}

.FooterContainer a:hover {
	color: black;
	text-decoration: none;
}

.FooterContent {
	display: flex;
	flex-direction: column;
	width: 15%;
	text-decoration: none;
}

.FooterContent h5 {
	font-size: 1em;
	font-weight: bold;
}

.TopNav {
	display: flex;
	justify-content: space-evenly;
	border-left: solid 1px black;
	margin-bottom: 25px;
	margin-top: 1%;
}

.TopNav a {
	transition: all 0.4s ease-in-out;
	color: #0076be;
	text-decoration: none;
	/* margin: 0; */
}

.TopNav a:hover {
	color: black;
}

.SubTopNavMain {
	display: flex;
	justify-content: space-around;
}

.SubTopNavMainRightSide {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 25%;
	list-style-type: none;
}

.SubTopNavMainRightSide i {
	color: #666666;
}

.MainBody {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	/* width: 25%; */
	padding: 2%;
}

.slideshow-container {
	width: 760px;
	height: 500px;
}

.SubFooter {
	display: flex;
	justify-content: space-around;
	background-color: #363636;
	/* padding: 0.5%; */
	color: #ccc;
}

.SubFooterRight {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 30%;
	list-style-type: none;
	color: white;
	padding: 1%;
}

.SubFooterRight i {
	color: #b71234;
}

.ChatBotSection {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap-reverse;
	font-size: 1em;
	/* font-family: Arial Black, Gadget, sans-serif; */
	font-weight: bold;
	text-align: center;
	background-image: -webkit-linear-gradient(
		left,
		#f00,
		#ff2b00,
		#f50,
		#ff8000,
		#fa0,
		#ffd500,
		#ff0,
		#d4ff00,
		#af0,
		#80ff00,
		#5f0,
		#2bff00,
		#0f0,
		#00ff2a,
		#0f5,
		#00ff80,
		#0fa,
		#00ffd5,
		#0ff,
		#00d5ff,
		#0af,
		#0080ff,
		#05f,
		#002aff,
		#00f,
		#2b00ff,
		#50f,
		#8000ff,
		#a0f,
		#d400ff,
		#f0f,
		#ff00d4,
		#f0a,
		#ff0080,
		#f05,
		#ff002b,
		#f00
	);
	-webkit-animation: ChatBotSection_a 5s linear infinite alternate;
	-webkit-background-clip: text;
	-webkit-text-fill-color: #0000;
	background-clip: text;
}

@keyframes ChatBotSection_a {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: -500px 0;
	}
}
